html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #33383D;
  background-repeat: repeat;
  background-size: cover;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/***** START SCREEN *****/
.startScreen {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option{
  color: white;
  border: 1px solid white;
  padding: 30px;
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  min-width: 400px;
  height: 300px;
}

.option-title{
  font-size: 20px;
  margin-bottom: 40px;
}

.option-subtitle{
  color: yellow;
}

.option input{
  width: 250px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.option select{
  width: 264px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.btn_join,
.btn_create {
  margin-top: 20px;
  border: none;
  color: black;
  text-align: center;
  display: block;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

button:hover {
  background-color: brown;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.errorMessage_create,
.errorMessage_join {
  color: red;
}

i {
  color: brown;
}

/***** GAME SCREEN *****/
.container{
  display: none;
  padding: 50px;
  margin: auto;
  width: 950px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/*** SIDEBAR **/
.sidebar-container{
  margin-right: 50px;
}

.sidebar-item{
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

/**** SIDEBAR - WINNER***/
.winner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.winner_label, .question_mark {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: gray;
}

.winner img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 20px;
}


/**** SIDEBAR - STEPS & RESET ****/
.step-counter {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.step_label {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  color: gray;
}

.marble {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marble p{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: gray;
  text-align: right;
  margin-left: 15px;
}

/**** SIDEBAR - RESET***/
.reset {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  color: gray;
  border: none;
  outline: none;
}

.reset:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/**** SIDEBAR - ROOM ID***/
.gameboard-roomid{
  color: white;
  display: block;
}

.roomid-text{
  color: gray;
  text-align: center;
  cursor: pointer;
}


/**** GAME AREA***/
.canvas_container{
  display: none;
}

.game_message{
  font-size: 20px;
  color: white;
  padding: 10px;
  margin: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.green-check{
  color: green;
}

.red-x{
  color: red;
}

.fa-thumbs-up{
  color: yellow;
}

#gameboard{
  margin-top: 50px;
}

/*** DONE BUTTON ***/
.done {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 400px;
  color: blanchedalmond;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
}

.done:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.done div span{
  font-size: 20px;
}

/*** WAITING ***/
.waiting{
  color: white;
  font-size: 30px;
  margin: auto;
}